<nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand" href="#">Bo<i class="fas fa-meteor"></i>m</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">About us<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Lifestyle</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Collection
              </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#"> Gifts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> Gallery</a>
            </li>


        </ul>

        <ul class="account-list d-flex my-2 ">
            <li class="nav-item-account">
                <a class="nav-link-account" data-toggle="modal" data-target="#exampleModal" href="#"><span class="login-i"><i class="far fa-user"></i></span>&nbsp;&nbsp;<span class="login-resp">Login</span></a>
            </li>
            &nbsp;&nbsp;
            <li class="nav-item-account">
                <a class="nav-link-account" data-toggle="modal" data-target="#exampleModal-1" href="#"><span class="login-i"><i class="fas fa-clipboard-check"></i></span>&nbsp;&nbsp;<span class="regstr-resp"></span>Register</a>
            </li>

        </ul>
        <!-- If you want the search-bar on the navbar, unlock this code and its CSS
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      -->
    </div>
</nav>